* {
    color: rgb(204, 216, 255);
    box-sizing: border-box;
}

html {
    background-color: rgb(3, 20, 38);
}

body {
    display: flex;
    /* justify-content: space-between; */
}

header {
    background-color: rgb(8, 45, 84);
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(204, 216, 255);
}

.header_upper_part {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.page_title {
    display: flex;
    gap: 10px;
    align-items: center;
}

main {
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    min-height: calc(120vh);
    min-width: calc(140vh);
}

.main_title {
    height: 15%;
    border-radius: 25px;
    background-color: rgba(8, 45, 84, 0.2);
    right: 0px;
}

footer {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 0px;
}